<!-- views/partials/charities-form.handlebars -->

<fieldset>
  <legend>Edit Donation</legend>
  <!-- Title -->
  <div class="form-group">
      <label for="charityName">Charity Name</label><br>
      <input id="charity-name" type="text" name="charityName" value="{{charity.charityName}}"/>
  </div>
  <div class="form-group">
      <label for="donationAmount">Donation Amount</label><br>
      <input id="donation-amount" type="number" name="donationAmount" value="{{charity.donationAmount}}" />
  </div>
</fieldset>
