<!-- views/partials/donation.handlebars -->

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Donation Amount: ${{this.donationAmount}}</h4>
    <p class="card-text">{{this.date}}</p>
  </div>
</div>
