<!-- charities-index -->
<br>
<div class="pull-left">
    <h1>Charities</h1>
</div>

<br>
<br>
<div class="row" >
    {{#each charities}}
        <div class="col-md-3 mt-4">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{this.charityName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Donation Amount:</h6>
                <p class="card-text">${{this.donationAmount}}</p>
                <p class="card-text">{{this.date}}</p>
                <a href="/charities/{{this._id}}" class="card-link">Donation Info</a>
              </div>
            </div>

        </div>
        <br>
        <br>
    {{/each}}
</div>
